<h1><%= @property.address %></h1>
<%= image_tag @property.image, :class => 'style-item-img' if @property.image.present? %>
<div class="row">
  <div class="col-md-8">
    <p>Property Type: <%= @property_type.name %></p>
    <div class="property-description">
      <%= @property.description.html_safe %>
    </div>
    <% if @property.location.present? %>
      <iframe src="<%= @property.location %>" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    <% end %>
  </div>
  <div class="col-md-4">
    <div class="property-agent">
      <p>Agent:</p>
      <%= link_to @agent, :class => "", :method => 'get' do %>
        <%= image_tag @agent.image, :class => 'img-thumbnail' if @agent.image.present? %>
      <% end %>
      <p><%= @agent.name %></p>
      <p><img src="https://www.pinclipart.com/picdir/middle/123-1236933_envelope-message-send-mail-packet-letter-email-email.png" width="22" height="22" class="d-inline-block align-top" alt="email"></h3>
      <%= @agent.email %></p>
    <p><img src="https://library.kissclipart.com/20180905/poe/kissclipart-phone-icon-black-and-white-clipart-telephone-compu-93efd166e386fa7e.jpg" width="20" height="20" class="d-inline-block align-top" alt="phone"></h3>
    <%= @agent.phone %></p>
  <hr/>
  <form method="POST" action="https://formspree.io/nilanaarquitetura@gmail.com">
    <input  class="input-agent" type="email" name="email" placeholder="Your email">
    <textarea class="textarea" name="message" placeholder="Message"></textarea>
    <input type="hidden" name="_subject" id="email-subject" value="HoMe Website - Enquiry for <%= @property_type.name %> - <%= @property.address %>">
    <button class="btn btn-dark" type="submit">Send Email</button>
  </form>
</div>
</div>
</div>
