<h1><%= @property.address %></h1>
<p>Property Type: <%= @property_type.name %></p>
<%= image_tag @property.image, :class => 'style-item-img' if @property.image.present? %>
<div class="property-description">
  <%= @property.description %>
</div>
<div class="property-agent">
  <p>Agent:</p>
  <p><%= @agent.name %></p>
  <p><%= @agent.email %></p>
  <p><%= @agent.phone %></p>
</div>
