<!DOCTYPE html>
<html>
  <head>
    <title>RealEstate</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <%# bootsrap menu %>
    <nav class="navbar navbar-light bg-light">
      <div class="container">
        <a href="/" class="navbar-brand">Real Estate</a>
        <% unless current_page?('/') %>
          <form action="/properties/list" method="get" class="form-inline">
            <input class="form-control" type="search" placeholder="Search" aria-label="Search" name="search" id="search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        <% end %>
      </div>
    </div>
  </nav>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
